<!DOCTYPE html>
<html>
<head>
	<title>User</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
	<style>
		.header1{
			text-align: center;
			padding-top: 15px;
		}
		.form1{
			padding-left: 10px;
			width: 380px;
			float: left;
			box-sizing: border-box; position: fixed; left: 50%; top: 45%; transform: translate(-50%, -50%);
		}
		.form1 th{
			text-align: center;
		}
		
		input[type="submit"]{width: 100px; margin-left: 140px;}
		input[type="submit"]:hover{ background: #a4b15c; transition: .6s;}

		
	</style>
</head>
<body>
	<div class="header1">
	<h1>Welcome</h1>
	<a href="/home">Home</a> |
	<a href="/user/myorder">My Orders</a> |
	<a href="/logout">logout</a>
	</div>
<br><br>
	<div class="form1">
		<form method="post">
			<table border="0" class="table table-striped" >
		<tr>
			<td>ID:	</td>
			<td><input type="text" name="id" value="<%= user.id %>" readonly></td>
		</tr>
		<tr>
			<td>Name:	</td>
			<td><input type="text" name="name" value="<%= user.name %>""></td>
		</tr>
		<tr>
			<td>Username:	</td>
			<td><input type="text" name="username" value="<%= user.username %>"></td>
		</tr>
		<tr>
			<td>Password:	</td>
			<td><input type="text" name="password" value="<%= user.password %>"></td>
		</tr>
		<tr>
			<td>Type:	</td>
			<td><input type="text" name="type" value="<%= user.type %>" readonly></td>
		</tr>
		<tr>
			<td></td>
			<td><input type="submit" name="submit" value="Update"></td>
		</tr>
	</table>
</form>
</<div>
</body>
</html>